<div class="container">
  <div class="col-1">
    <h1 class="head">Learn Any Skills<br>
      to advance your<br>
      career path</h1>
      <img src="assets/images/Vector 1.png">
      <p class="p1">Want to improve your work skills? You need to study <br>
        harder with the help of a great mentor to improve<br> your performance at work</p>
        <button class="button button4">Explore Path</button>
        <!-- <img src="assets/images/Ellipse 67.png" width="30px"> -->
  </div>
  <div class="col-1">
    <img src="assets/images/Learning - Video Course 1.png">
  </div>
</div>

<div class="container">
  <h3 class="child1 p2">We partner with more<br>
    than 10+ companies</h3>
  <img src="assets/images/Logo.png" class="child1">
</div>

<div class="container">
  <div class="col-1">
    <img src="assets/images/online-course-of-study-2021-09-24-03-56-00-utc 1.png">
  </div>
  <div class="col-1" style="padding-left:8% ;">
    <h2 class="h2">Owlearn helps you Become
      Experienced</h2>
      <p class="para">Owlearn provides e-learning solutions for companies, universities and individual professionals. It allows users to create courses, and provides an integrated learning management system. Its offerings include digital course tools, study materials, IT infrastructure and other operations.</p>
      <button class="button button4">Become a Member</button>

    </div>
</div>

<app-courses></app-courses>

<div class="container">
  <div class="col-1">
    <img src="assets/images/image 21.png">
  </div>
  <div class="col-1">
    <h2 class="h">What did they say</h2>
    <p class="p3">Higher education in the era of the industrial revolution 4.0<br>
      requires breakthrough learning using digital platforms that<br>
      answer the challenges of millennial students to study<br>
      anywhere, anytime and with leading-edge ICT technology.<br>
      From student recruitment to teaching and learning<br>
      administration processes,</p>
      <hr>
      <h2>Briana Patton</h2>
      <p class="p3">Designer at Salesforce</p>
      <a href="#"><img src="assets/images/arrow-right-circle.png"></a>
  </div>
</div>
