<div class="container">
  <div class="col-1">
    <h3>Event & Bootcamp</h3>
    <p>Web Development</p>
    <p>Mobile Development</p>
    <p>UI Design</p>
    <p>UI Research</p>
    <p>Presentation</p>

  </div>
  <div class="col-2">
    <h3>About Owlearn</h3>
    <p>Adminission Info</p>
    <p>Article</p>
    <p>Group & Referral Program</p>
    <p>Careers</p>

  </div>
  <div class="col-2">
    <h3>Contact</h3>
    <a href="#">support@edtech.com</a><br><br>
    <a href="#">(+62) 85923935983</a>
    <p>Lorem ipsum dolor sit amet,<br>
      consectetur adipiscing elit. </p>
      
  </div>
</div>
<div class="Copyright">
  <p>Copyright © 2021 Owlearn. All Rights Reserved.</p>
</div>
