.container
{
  display: flex;
  margin: 5%;
}
.col-1{
  flex-grow: 2;
}
.col-2{
  flex-grow: 1;
}
.col-3{
  flex-grow: 1;
}

.Copyright{
  background-color: black;
  color:white;
  text-align: center;
  padding: 3px;
}
