<div style="margin: 5%;">
  <h2 class="h2">Discover Course & Bootcamp </h2>
  <button class="button2" style="background-color: #DC4298;color: white;"> All Program </button>
  <button class="button2"> UI/UX Design  </button>
  <button class="button2"> Product Management </button>
  <button class="button2"> Branding Design  </button>
  <button class="button2"> Mobile Development </button>
  <button class="button2"> Web Development </button>

</div>

<div class="container">
  <div class="card">
    <img src="assets/images/image 20.png">
    <div style="padding: 5%">
      <p class="p1">1 - 28 July 2022</p>
    <h3 class="h">Product Management-
      Basic</h3>
      <p class="p1">Product Management Masterclass, you will<br>
        learn with Sarah Johnson - Head of Product<br>
        Customer Platform Gojek Indonesia.
        </p>
        <span>$ 380 </span>
        <del>$ 500</del>
    </div>

  </div>
  <div class="card">
    <img src="assets/images/image 20 (1).png">
    <div style="padding: 5%;">
      <p class="p1">1 - 28 July 2022</p>
    <h3 class="h">Front End Developer -
      Basic</h3>
      <p class="p1">Lorem ipsum dolor sit amet, consectetur<br>
        adipiscing elit. Sed eget magna enim<br>
        fermentum porttitor.
        </p>
        <span>$ 380 </span>
        <del>$ 500</del>
    </div>

  </div>
  <div class="card">
    <img src="assets/images/image 20 (2).png">
    <div style="padding: 5%;">
      <p class="p1">1 - 28 July 2022</p>
    <h3 class="h">Back End Developerr -
      Basic</h3>
      <p class="p1">Lorem ipsum dolor sit amet, consectetur<br>
        adipiscing elit. Sed eget magna enim<br>
        fermentum porttitor.
        </p>
        <span>$ 380 </span>
        <del>$ 500</del>

    </div>
  </div>


</div>




<div class="container">
  <div class="card">
    <img src="assets/images/image 20 (3).png">
    <div style="padding: 5%;">
      <p class="p1">1 - 28 July 2022</p>
    <h3 class="h">UX Design - Branstroming</h3>
      <p class="p1">Lorem ipsum dolor sit amet, consectetur<br>
        adipiscing elit. Sed eget magna enim<br>
        fermentum porttitor.
        </p>
        <span>$ 380 </span>
        <del>$ 500</del>
    </div>

  </div>
  <div class="card">
    <img src="assets/images/image 20 (4).png">
    <div style="padding:5%">
      <p class="p1">1 - 28 July 2022</p>
    <h3 class="h">UI Design - Sketch</h3>
      <p class="p1">Lorem ipsum dolor sit amet, consectetur<br>
        adipiscing elit. Sed eget magna enim<br>
        fermentum porttitor.
        </p>
        <span>$ 380 </span>
        <del>$ 500</del>
    </div>

  </div>
  <div class="card">
    <img src="assets/images/image 20 (5).png">
    <div style="padding: 5%;">
      <p class="p1">1 - 28 July 2022</p>
    <h3 class="h">Graphic Design -
      Fundamental Design</h3>
      <p class="p1">Lorem ipsum dolor sit amet, consectetur<br>
        adipiscing elit. Sed eget magna enim<br>
        fermentum porttitor.
        </p>
        <span>$ 380 </span>
        <del>$ 500</del>
    </div>
  </div>
</div>

<div class="container2">
  <div class="item">
    <p>Still confused about your
      career choice? consult with
      our experts</p>
      <button class="button"> contact Us </button>


  </div>
  <div class="item">
    <img src="assets/images/successful-black-student-girl-using-laptop-learnin-2021-09-14-17-37-12-utc 1 (1).png">

  </div>
</div>

<div style="margin: 5%">
  <h2 style="text-align:center;font-size:2rem;">Our graduates have worked in</h2><br>
  <div class="container">
    <img src="assets/images/Clicup.png" class="col-1">
    <img src="assets/images/dropbox.png" class="col-1">
    <img src="assets/images/Elastic.png" class="col-1">
    <img src="assets/images/GitHub.png" class="col-1">
    <img src="assets/images/FreshBooks.png" class="col-1">
  </div>

  <div class="container">
    <img src="assets/images/helpscout.png" class="col-1">
    <img src="assets/images/HubSpot.png" class="col-1">
    <img src="assets/images/intuit.png" class="col-1">
    <img src="assets/images/Google Workspace.png" class="col-1">
    <img src="assets/images/Paychex.png" class="col-1">
  </div>

  <div class="container">
    <img src="assets/images/Salesforce.png" class="col-1">
    <img src="assets/images/SAP.png" class="col-1">
    <img src="assets/images/Segment.png" class="col-1">
    <img src="assets/images/ServiceNow.png" class="col-1">
    <img src="assets/images/shopify.png" class="col-1">
  </div>
</div>
